.profile{
   
    height: 360px;
    width:280px;
    margin:100px auto;
    border-radius: 20px;
    padding:20px;
    background-color: #2c2c2c;
    text-align: center;
    position: relative;
    color:white
    
    
    

}